# Git
.git
.gitignore

# Node
node_modules
.npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.pnpm-store
.pnpm-debug.log*

# Bun
.bun

# Next.js
.next
/out/
*.tsbuildinfo
next-env.d.ts

# Prisma
./src/core/database/generated/prisma

# Docker
/docker/
.dockerignore
Dockerfile*
docker-compose*
compose.*.yml

# Env
.env
.env.local
.env.development
.env.development.local
.env.test
.env.test.local
.env.production
.env.production.local
.env*.local

# VSCode
.vscode

# macOS
.DS_Store

# Additional files to exclude
# Testing
/coverage

# Production
/build

# Debug
*.log

# Vercel
.vercel

# IDE
.idea

# Documentation
*.md
!README.md

# Logs (these should be handled via volumes)
/logs/

# Uploads (these should be handled via volumes)
/public/uploads/

# Scripts that don't need to be in production
/scripts/
